[Unit]
Description=Gemfire Locator
Requires=network.target
After=network.target


[Service]
Type=forking
User={{ gemfire_user }}
Group={{ gemfire_group }}
EnvironmentFile=/etc/gemfire.conf
{% if ssl_configured is defined and ssl_configured != "" %}
ExecStart=/bin/bash -c "/opt/gemfire/bin/gfsh start locator --security-properties-file=/etc/gfsecurity.properties $GEMFIRE_OPTS $JVM_ARGS"
ExecStop=/bin/bash -c "/opt/gemfire/bin/gfsh stop locator --security-properties-file=/etc/gfsecurity.properties --dir=$GEMFIRE_WORKING_DIR"
{% else %}
ExecStart=/bin/bash -c "/opt/gemfire/bin/gfsh start locator $GEMFIRE_OPTS $JVM_ARGS"
ExecStop=/bin/bash -c "/opt/gemfire/bin/gfsh stop locator --dir=$GEMFIRE_WORKING_DIR"
{% endif %}
TimeoutSec=5min
WorkingDirectory={{ gemfire_working_dir }}
PIDFile={{ gemfire_working_dir }}/vf.gf.locator.pid

[Install]
WantedBy=multi-user.target
